@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Quản Lý Đơn Hàng
}

@section ClientSrcipt
{
    <script src="~/Content/createjs/HoaDonConTrol.js"></script>
}
@model PagedList.IPagedList<ModelsDungChung.LayHoaDonResult>
<div class="row">

    <div class="col-lg-12">

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Danh sách Sản Phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="card-body">
                @using (Html.BeginForm("IndexDH", "DonHang", FormMethod.Get))
                {
                    <div class="row form-group">
                        <div class="col-lg-8 col-md-8">
                            <input type="text" value="@ViewBag.Search" class="form-control" name="search" />
                        </div>
                        <div class="col-lg-1 col-md-1">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                    </div>
                }
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr style="text-align:center">
                                <th>Mã DH</th>
                                <th>Họ Tên</th>
                                <th>Ngày Đặt</th>
                                <th>Ngày Giao</th>
                                <th>Thanh Toán</th>
                                <th>Tình Trạng</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:center" id="row_@item.MaDH">
                                    <td>@item.MaDH</td>
                                    <td>@item.HoTen.Trim()</td>
                                    <td>@item.NgayDat.ToShortDateString()</td>
                                    <td>@item.NgayGiao.Value.ToShortDateString()</td>
                                    <td>@Html.Raw(item.DaThanhToan ? "Đã Thanh Toán" : "Chưa Thanh Toán")</td>
                                    <td><a href="#" class="btn-active" data-id="@item.MaDH">@Html.Raw(item.TinhTrangGiaoHang ? "Đã Giao" : "Chưa Giao")</a></td>
                                    <td width="20%">
                                        <a href="/Admin/DonHang/luuSession/@item.MaDH">Detail</a>
                                        |
                                        @Ajax.ActionLink("Delete", "Delete", new { @MaDH = item.MaDH }, new AjaxOptions
                                    {
                                       Confirm = "Bạn Chắc Chắn Muốn Xóa Chứ?",
                                       OnComplete = "$('#row_" + @item.MaDH + "').remove()",
                                       HttpMethod = "Delete"
                                    })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("IndexDH", "DonHang", new { page, @search = @ViewBag.Search }),
                   new PagedListRenderOptions
                        {
                LinkToPreviousPageFormat = "Previous",
                LinkToNextPageFormat = "Next",
                LinkToFirstPageFormat = "First",
                LinkToLastPageFormat = "Last"
                        })
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>